@font-face {
	font-family: "TT Travels";
	src:  url("../fonts/TT_Travel/TTTravels-Light.woff") format("woff"),
	      url("../fonts/TT_Travel/TTTravels-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Schnyder Cond XL Demi";
	src:  url("../fonts/Schnyder_X_Condensed/Schnyder_X_Cond_L_Demi.woff") format("woff"),
	      url("../fonts/Schnyder_X_Condensed/Schnyder_X_Cond_L_Demi.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

body {
	margin: 0;
}

.tippy-tooltip {
  font-family: TT Travels;
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase;
  color: #000000;
}
